
export PHPSERVER_PROJECT_NAME=phpserver
export PHPSERVER_PROJECT_TLD=test
export PHPSERVER_PORT=8080
export PHPSERVER_BASE_URL=$PHPSERVER_PROJECT_NAME.$PHPSERVER_PROJECT_TLD:$PHPSERVER_PORT
export PHPSERVER_DB_HOST=127.0.0.1
export PHPSERVER_DB_NAME=magento
export PHPSERVER_DB_USER=root
export PHPSERVER_DB_PASS=
export PHPSERVER_ADMIN_FIRSTNAME=Magento
export PHPSERVER_ADMIN_LASTNAME=User
export PHPSERVER_ADMIN_EMAIL=user@example.com
export PHPSERVER_ADMIN_USER=admin
export PHPSERVER_ADMIN_PASSWORD=admin123
export PHPSERVER_LANGUAGE=en_US
export PHPSERVER_CURRENCY=USD
export PHPSERVER_TIMEZONE=America/Chicago
export PHPSERVER_USE_REWRITES=1
export PHPSERVER_SEARCH_ENGINE=elasticsearch7
export PHPSERVER_ELASTICSEARCH_HOST=127.0.0.1
export PHPSERVER_ELASTICSEARCH_PORT=9200
export PHPSERVER_BACKEND_ENABLE=true
export PHPSERVER_DB_IMAGE=mysql
export PHPSERVER_DB_TAG=8.0-oracle
export PHPSERVER_ES_IMAGE=elasticsearch
export PHPSERVER_ES_TAG=7.10.1
